/* STARTING SCREEN */
img.logo {
  display: none;
}

/* CONNECTION SCREEN */
.logo-container {
  display: none;
}

/* Login/Connect screen boxes. 3: Nick, 4: Name, 5: Realname, 6: Channels, 7: I have password checkbox
.connect-row:nth-child(4),
.connect-row:nth-child(5),
.connect-row:nth-child(7) {
  visibility: hidden;
  height: 0;
} */

form.container h1,
form.container h2 {
  display: none;
}

div#connect div.connect-row { /** increasing specificity to override previous rule */
  display: none;
}

footer#footer {
  display: none;
}

/* CHAT SCREEN */
.jump-to-input {
  display: none;
}

div#chat button.menu {
  display: none;
}

div#chat button.mentions {
  display: none;
}

.channel-list-item {
  display: none;
}
